.hero__container {
    margin-bottom: rem(88px);
}

.hero__main-title {
    margin-bottom: rem(48px);
    font-family: Gilroy;
    font-size: rem(30px);
    font-weight: 500;
    text-align: center;
    color: $gray;

    @include phones {
        text-align: left;
        font-size: rem(22px);
        padding-left: rem(40px);
    }
}